/* Базовые настройки CSS */

*{
	margin: 0;
	padding: 0;
	color:#333333;
	font-size:15px;
}

@font-face{
	font-family: RalewayRegular;
	src: url("fonts/RalewayRegular/RalewayRegular.ttf");
}

a, a:hover, a:focus, a:active{
	color:orange;
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	text-transform:uppercase;
	color:#2c3949;
}

h1{
	font:48px sans-serif;
	text-transform:none;
}

h2{
	font:30px sans-serif;
}

h3{
	font:24px sans-serif;
}



ul li{
	list-style-type:none;
	display:inline-block;
}

form{
	opacity:.8;
	background-color:#243343;
	padding:30px 35px;
	color:#97a4b2;
	font-size:13px;
}

/* Шапка */

.main-head{
	min-height:620px;
	background-size:cover;
	background-position:center;
	position:relative;
	padding:0 0 160px 0;
}

.main-head:before{
	background-color:#394b5f;
	opacity:.85;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	content:'';
}

.top-line{
	min-height:160px;
	background-image:url(img/top_gradient.png);
}

.logo img{
	width:100px;
	position:absolute;
	top:45px;
	left:10%;
	opacity: .95;
}

.main-menu{
	font-size:14px;
	position:absolute;
	top:45px;
	left:30%;
}

.main-menu ul li{
	line-height:48px;
	padding:0 10px;
}

.main-menu ul li a{
	text-decoration:none;
	color:white;
}

.main-menu ul li.active a{
	color:orange;
	text-decoration:underline;
}

.main-menu ul li a:hover{
	color:orange;
	text-decoration:underline;
}

.phone{
	color:white;
	opacity: .9;
	font-size:20px;
	font-weight:bold;
	position:absolute;
	top:45px;
	left:80%;
	line-height:48px;
}

.smallMenu{
	position:absolute;
	left:45%;
	top:38px;
	display:none;
}

.smallMenu:hover{
	cursor:pointer;
}

.partSmallMenu{
	border:1px solid black;
	border-radius:10px;
	background:grey;
	width:80px;
	height:5px;
	margin:10px;
}

.openSmallMenu{
	text-align:center;
	margin:25px 0 0 -20px;
	display:none;
}

.openSmallMenu li{
	display:block;
	clear:both;
	margin:50 0 20px 0;
}

.openSmallMenu li a{
	color:white;
	text-decoration:none;
}

.openSmallMenu li.active a{
	color:orange;
	text-decoration:underline;
}

.openSmallMenu li a:hover{
	color:orange;
	text-decoration:underline;
}

.header-wrap{
	margin:40px 0 0 0;
}

.header-wrap h1{
	margin:120px 0 0 50px;
	color:white;
	display:inline-block;
	border-bottom:orange 8px solid;
	padding:0 0 18px 0;
	position:absolute;
}

.header-wrap ul{
	position:absolute;
	top:420px;
	left:80px;
	width:270px;
}

.header-wrap ul li a{
	display:block;
	color:white;
	text-decoration:none;
	font-size:18px;
	line-height:32px;
}

.header-wrap ul li a:hover{
	text-decoration:underline;
}

.request{
	float:right;
	margin:0 40px 0 0;
	border-bottom:3px solid #1A222B;
}

.request h4{
	color:white;
	font-weight:bold;
	text-transform:none;
	font-size:32px;
}

.request p{
	color:lightgrey;
	margin:15px 0 0 0;
	line-height:18px;
}

.request span{
	color:#778390;;
	letter-spacing:1.5px;
	display:block;
	margin:0 0 8px 0;
}

.request label{
	display:block;
	margin:22px 0 10px 0;
	font-size:13px;
}

.request input{
	display:block;
	width:100%;
	border:none;
	box-shadow:0 -3px #1F2A36;
	background-color:#34465A;
	text-indent:10px;
	padding:10px 0 10px 0;
	color:lightgrey;
	transition:all .5s ease;
}

.request input:focus{
	box-shadow:0 -6px #1F2A36;
	background-color:#394E65;
}

input[type="submit"].sendButton{
	display:inline-block;
	border:none;
	text-align:center;
	box-shadow:none;
	background-color:orange;
	width:auto;
	margin:15px 0 0 50px;
	color:#111;
	font-size:22px;
	font-weight:bold;
	padding:12px 30px 12px 30px;
	border-bottom:3px solid #897200;
}

input[type="submit"].sendButton:hover{
	background-color:#FFB338;
	cursor:pointer;
}

input[type="submit"].sendButton:active{
	background-color:red;
}

/* Первая секция */

.homesect{
	padding:70px 0 0 0;
	background-color:#F9F9F9;
	position:relative;
}

.homesect h2{
	text-align:center;
}

.shortLine{
	width:165px;
	margin:34px 0 0 860px;
	border:4px solid orange;
}

.homesect p{
	text-align:center;
	margin:34px 0 0 0;
	line-height:18px;
}

.homesect:before{
	content: '';
	height:6px;
	width:100%;
	position:absolute;
	top:-6px;
	background-image: url(img/bah_1.png);
	z-index:2;
}

.section-bottom{
	background-color:#E5E5E5;
	height:70px;
	text-align:center;
	padding:50px 0 50px 0;
}

.buttons{
	display:inline-block;
	border:none;
	text-align:center;
	box-shadow:none;
	background-color:orange;
	width:auto;
	margin:15px 0 0 10px;
	color:#111;
	font-size:22px;
	font-weight:bold;
	padding:12px 30px 12px 30px;
	border-bottom:3px solid #897200;
	transition:all .5s ease;
}

.buttons:hover{
	cursor:pointer;
	background-color:#FFB338;
	color:black;
	text-decoration:underline;
}

.buttons:active{
	background-color:red;
	cursor:pointer;
	color:black;
	text-decoration:underline;
}

#rating{
	font-weight:bold;
}

#rating:hover{
	text-decoration:none;
}

.section-content{
	min-height:548px;
	background-image: url(img/s1_gray_bg.png);
	background-repeat:no-repeat;
	background-position:bottom;
	margin:30px 0 0 0;
}

.s1-bottom-triangle{
	width: 0;
	height: 0;
	border-left: 950px solid transparent;
	border-right: 950px solid transparent;
	border-bottom: 100px solid #2D3C4C;
	margin:-100px 0 0 0;
}

.s1-bottom-triangle img{
	width:200px;
	margin:20px 0 0 -105px;
}

.s1-bottom{
	padding:15px 0 65px 0;
	background:#2D3C4C;
}

.tableMenu tr td{
	width:700px;
	height:230px;
	text-align:center;
	opacity: 0;
	transform: scale(0);
	transition:all 2s ease;
}

#law{
	width:183px;
	margin:0 0 0 -1px;
}

.tableMenu a{
	font-size:22px;
	font-weight:bold;
	text-transform:none;
}

.tableMenu a:hover{
	text-decoration:none;
}

.tableMenu span{
	display:inline-block;
	margin:25px 0 0 0;
	font:15px sans-serif;
	line-height:18px;
}

.tableMenu hr{
	width:200px;
	margin:20px 0 0 34.5%;
	border:1px solid grey;
}

#tableMenu2{
	margin:20px 0 0 0;
}

#tableMenu2 span{
	color:white;
}

/* Вторая секция */

.secondSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_1.png);
}

.secondSection{
	padding:70px 0 0 0;
	background-color:#F9F9F9;
}

.secondSection h2{
	display:inline-block;
	margin:0 0 0 775px;
}

.secondSection p{
	text-align:center;
	margin:34px 0 0 0;
	line-height:18px;
}

.secondSection h3{
	font:25px sans-serif;
	display:block;
	margin:50px 0 50px 650px;
}

.secondSection h3 a{
	font:25px sans-serif;
}

.secondSection h3 a:hover{
	text-decoration:none;
}

.secondTable{
	text-align:center;
	margin:0 0 70px 0;
}

.secondTable td{
	width:350px;
	padding:35px 0 40px 0;
	opacity:0;
}

.secondTable td img{
	height:80px;
}

.smallHR{
	width:70px;
	margin:30px 0 30px 38%;
	border:2px solid orange;
}

.secondTable td p{
	font:14px sans-serif;
	font-weight:bold;
	text-decoration:underline;
}

/* Третий раздел */

.thirdSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_2.png);
}

.thirdSection{
	padding:70px 0 0 0;
	background:#2D3C4C;
	height:1200px;
}

.thirdSection h2{
	display:inline-block;
	margin:0 0 0 760px;
	color:white;
}

.thirdSection p{
	text-align:center;
	margin:34px 0 0 0;
	line-height:18px;
	color:lightgrey;
}

.thirdSection p strong{
	color:white;
}

.thirdContent{
	height:1000px;
	background-image: url(img/s3_sun_bg.png);
	background-repeat:no-repeat;
	background-position:center;
}

.thirdContent div:nth-of-type(1){
	width:300px;
	height:auto;
	margin:0 0 0 850px;
	padding:100px 0 0 0;
}

.thirdContent div:nth-of-type(2){
	width:300px;
	height:auto;
	margin:-40px 0 0 1170px;
}

.thirdContent div:nth-of-type(3){
	width:300px;
	height:auto;
	margin:100px 0 0 1250px;
}

.thirdContent div:nth-of-type(4){
	width:300px;
	height:auto;
	margin:-400px 0 0 500px;
}

.thirdContent div:nth-of-type(5){
	width:300px;
	height:auto;
	margin:100px 0 0 430px;
}

.thirdContent div:nth-of-type(6){
	width:300px;
	height:auto;
	margin:100px 0 0 500px;
}

.thirdContent div:nth-of-type(7){
	width:300px;
	height:auto;
	margin:-35px 0 0 850px;
}

.thirdContent div:nth-of-type(8){
	width:300px;
	height:auto;
	margin:-260px 0 0 1200px;
}

.thirdContent div:nth-of-type(9){
	background-color:orange;
	width:200px;
	height:200px;
	border-radius:50%;
	text-align:center;
	margin:-385px 0 0 850px;
}

.thirdContent div img{
	width:100px;
	margin:50px 0 0 0;
}

.thirdContent div a{
	font-size:22px;
	font-weight:bold;
	text-transform:none;
}

.thirdContent div a:hover{
	text-decoration:none;
}

.thirdContent div span{
	display:inline-block;
	margin:25px 0 0 0;
	font:15px sans-serif;
	line-height:18px;
	color:white;
}

.thirdContent div hr{
	width:200px;
	margin:20px 0 0 0;
	border:1px solid grey;
}

/* Четвёртый раздел */

.fourthSection{
	background-color:#E5E5E5;
	margin:133px 0 0 0;
	padding:70px 0 0 0;
}

.fourthSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_3.png);
}

.fourthSection h2{
	display:inline-block;
	margin:0 0 0 625px;
}

.fourthSection p{
	text-align:center;
	margin:34px 0 0 0;
	line-height:18px;
}

.fourthSection h3{
	font:25px sans-serif;
	display:block;
	margin:50px 0 50px 650px;
}

.fourthSection table{
	margin:40px 0 0 400px;
	perspective: 600px;
}

.fourthSection td{
	width:300px;
	height:600px;
	background-color:#2D3C4C;
	transition:all 1s ease;
}

.fourthSection td.card-off{
	transform: rotateY(100deg);
	opacity: 0;
}

.fourthSection td.card-on{
	transform: rotateY(0deg);
	opacity: 1;
}

.fourthSection table  tr td:nth-of-type(1) div img{
	width:100px;
	margin:80px 0 0 0;
}

.fourthSection table  tr td:nth-of-type(1) div h4{
	font:18px sans-serif;
	font-weight:bold;
	color:white;
	display:block;
	margin:150px 0 0 0;
}

.fourthSection table  tr td:nth-of-type(1) div{
	background-color:orange;
	width:200px;
	height:200px;
	border-radius:50%;
	text-align:center;
	margin:-250px 0 0 50px;
}

.fourthSection table  tr td:nth-of-type(2) div img{
	width:100px;
	margin:70px 0 0 0;
}

.fourthSection table  tr td:nth-of-type(2) div h4{
	font:18px sans-serif;
	font-weight:bold;
	color:white;
	display:block;
	margin:135px 0 0 0;
}

.fourthSection table tr td:nth-of-type(2) div{
	background-color:orange;
	width:200px;
	height:200px;
	border-radius:50%;
	text-align:center;
	margin:-250px 0 0 50px;
}

.fourthSection table  tr td:nth-of-type(3) div img{
	width:100px;
	margin:53px 0 0 0;
}

.fourthSection table  tr td:nth-of-type(3) div h4{
	font:18px sans-serif;
	font-weight:bold;
	color:white;
	display:block;
	margin:115px 0 0 0;
}

.fourthSection table tr td:nth-of-type(3) div{
	background-color:orange;
	width:200px;
	height:200px;
	border-radius:50%;
	text-align:center;
	margin:-250px 0 0 50px;
}

.fourthSection table p{
	color:lightgrey;
}

.fourthSection p span{
	color:orange;
}

/* Пятая секция */

.fiveSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_2.png);
}

.fiveSection{
	padding:70px 0 0 0;
	background:#2D3C4C;
	height:500px;
}

.fiveSection h2{
	display:inline-block;
	margin:0 0 0 800px;
	color:white;
}

.triangles-container{
	color:white;
	font-size:20px;
	margin:60px 0 70px 0;
	text-align:center;
}

.tc-item{
	width:290px;
	height:128px;
	display:inline-block;
	transition:all 1s ease;
}

.tc-item div:nth-of-type(1){
	width:0px;
	height:0px;
	border-top:32px solid orange;
	border-right:20px solid orange;
	border-bottom:32px solid transparent;
	border-left:20px solid transparent;
	float:left;
}

.tc-item div:nth-of-type(2){
	width:0px;
	height:0px;
	border-top:32px solid transparent;
	border-right:20px solid orange;
	border-bottom:32px solid orange;
	border-left:20px solid transparent;
	float:left;
	margin:64px 0 0 -40px;
}

.tc-item div:nth-of-type(3){
	width:212px;
	height:128px;
	background-color:orange;
	float:left;
	margin:0 0 0 -1px;
}

.tc-item div:nth-of-type(4){
	width:0px;
	height:0px;
	border-top:64px solid transparent;
	border-bottom:64px solid transparent;
	border-left:40px solid orange;
	margin:0 0 0 250px;
}

.inside{
	padding:10px 0 0 0;
}

.tc-item img{
	width:40px;
	margin:40px 0 0 10px;
	float:left;
}

.tc-item span{
	color:white;
	font:20px sans-serif;
	display:inline-block;
	float:left;
	height:50px;
}

.tc-item p{
	color:white;
	font:18px sans-serif;
	margin:2px 0 0 20px;
}

.tc-item:hover{
	transform:scale(1.3);
}

.first-tc-item{
	width:290px;
	height:128px;
	display:inline-block;
	opacity: 1;
	transition:all 1s ease;
}

.first-tc-item div:nth-of-type(1){
	
}

.first-tc-item div:nth-of-type(2){
	
}

.first-tc-item div:nth-of-type(3){
	width:251px;
	height:128px;
	background-color:orange;
	float:left;
}

.first-tc-item div:nth-of-type(4){
	width:0px;
	height:0px;
	border-top:64px solid transparent;
	border-bottom:64px solid transparent;
	border-left:40px solid orange;
	margin:0 0 0 250px;
}

.first-tc-item img{
	width:50px;
	margin:45px 0 0 20px;
	float:left;
}

.first-tc-item span{
	color:white;
	font:20px sans-serif;
	display:inline-block;
	float:left;
	height:50px;
	margin:30px 0 0 20px;
}

.first-tc-item p{
	color:white;
	font:18px sans-serif;
	margin:30px 0 0 0px;
}	

.first-tc-item:hover{
	transform:scale(1.3);
}

.close{
	opacity: 0;
}

/* Делаем шестую секцию */

.sixSection{
	background-color: white;
	margin:0 0 100px 0;
	padding:70px 0 0 0;
}

.sixSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_1.png);
}

.sixSection h2{
	display:inline-block;
	margin:0 0 0 625px;
}

.sixSection p{
	text-align:center;
	margin:34px 0 0 0;
	line-height:18px;
}

.sixSection table{
	margin:80px 0 0 400px;
	border-spacing: 50px 0;
}

.sixSection td{
	width:300px;
	height:450px;
	background-color:#E4E4E4;
	text-align:center;
}

.sixSection img{
	width:150px;
	border-radius:50%;
	border:5px solid lightgrey;
}

.sixSection span{
	display:block;
}

.sixSection td span:nth-of-type(1){
	color:black;
	font-weight:bold;
	font-size:18px;
	margin:50px 0 0 0;
}

.sixSection td span:nth-of-type(2){
	color:grey;
	font-size:16px;
	margin:10px 0 50px 0;
}

.sixSection td span:nth-of-type(3){
	color:black;
	font-size:18px;
	font-weight:bold;
}

/* Седьмая секция */
.sevenSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_3.png);
}

.sevenSection{
	padding:70px 0 0 0;
	background:#E5E5E5;
	height:800px;
}

.sevenSection h2{
	display:inline-block;
	margin:0 0 0 800px;
	color:black;
}

.sevenSection p{
	text-align:center;
	margin:34px 0 0 0;
	line-height:18px;
}

.requestMain{
	border:1px solid #E5E5E5;
	width:1200px;
	height:600px;
	margin:0px 0 0 350px;
	text-align:center;
}

.requestMain ul{
	width:9999px;
}

.requestMain ul li{
	float:left;
	margin:30px 0 0 500px;
}

.requestMain ul li:nth-of-type(1){
	float:left;
	display:block;
}

.requestMain ul li:nth-of-type(2){
	float:left;
	display:none;
}

.requestMain ul li:nth-of-type(3){
	float:left;
	display:none;
}

.requestMain img{
	width:150px;
	border-radius:50%;
	border:5px solid orange;
	margin:30px 0 0 0;
}

.requestMain ul li span:nth-of-type(1){
	display:block;
	color:black;
	font-weight:bold;
	font-size:18px;
	margin:50px 0 0 0
}

.requestMain ul li span:nth-of-type(2){
	display:block;
	color:grey;
	font-size:16px;
	margin:20px 0 0 0
}

.buttonsRequests{
	width:200px;
	height:32px;
	margin:500px 0 0 510px;
	padding:8px;
}

.buttonsRequests div:hover{
	cursor:pointer;
	border:1px solid black;
}

.buttonsRequests div:nth-of-type(1){
	width:30px;
	height:30px;
	background-color:orange;
	border-radius: 50%;
	float:left;
}

.buttonsRequests div:nth-of-type(2){
	width:30px;
	height:30px;
	background-color:lightgrey;
	border-radius: 50%;
	float:left;
	margin:0 0 0 50px;
}

.buttonsRequests div:nth-of-type(3){
	width:30px;
	height:30px;
	background-color:lightgrey;
	border-radius: 50%;
	float:left;
	margin:0 0 0 50px;
}

/* Восьмая секция */

.eightSection{
	background-color: white;
	margin:0 0 100px 0;
	padding:70px 0 0 0;
}

.eightSection:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_1.png);
}

.eightSection h2{
	display:inline-block;
	margin:0 0 0 50px;
}

.eightSection .shortLine{
	margin:34px 0 0 50px;
}

.eightSection p{
	margin:34px 0 0 50px;
	line-height:18px;
}

.eightSection table{
	margin:0px 0 0 -100px;
	border-spacing:150px 0;
}

.eightSection table td{
	width:150px;
	height:500px;
	text-align:center;
	transition:all 1s ease;
}

.hide{
	transform: translateY(-100px);
	opacity:0;
}

.eightSection table span{
	font:bold 16px black;
	display:block;
	margin:30px 0 0 0;
}

.eightSection form{
	margin:-500px 50px 0px 0;
	background-color:#DCDCDC;
}

.eightSection form h4{
	color:#3E424A;
}

.eightSection form p{
	color:grey;
	margin:20px 0px 0 0;
}

.eightSection form input{
	background-color:#BFBFBF;
}

.eightSection form input:focus{
	background-color:white;
}

/* Подвал */

footer:before{
	content: '';
	height:6px;
	width:100%;
	margin-top:-76px;
	position:absolute;
	background-image: url(img/bah_2.png);
}

footer{
	padding:70px 0 0 0;
	background:#2D3C4C;
	height:200px;
}

footer img{
	margin:50px 0 0 50px;
}

footer nav ul{
	margin:-30px 0 0 600px;
}

footer nav ul li a{
	display:block;
	color:white;
	text-decoration:none;
	margin:0px 20px 0 0px;
}

footer nav ul li a:hover{
	text-decoration:underline;
}

footer nav ul li a.active{
	color:orange;
	text-decoration:underline;
}

footer span{
	color:white;
	opacity: .9;
	font-size:20px;
	font-weight:bold;
	line-height:48px;
	float:right;
	margin:-30px 250px 0 0;
}

/*Адаптивный стиль под планшеты*/

@media all and (max-width:1024px){
	
	/* Шапка */
	
	.main-menu{
		display:none;
	}
	
	.smallMenu{
		display:block;
	}
	
	.header-left h1{
		font-size:28px;
	}
	
	.header-wrap ul{
		top:400px;
	}
	
	.request{
		width:250px;
	}
	
	input[type="submit"].sendButton{
		margin:15px 0 0 30px;
	}
	
	/* Первая секция */
	
	.shortLine{
		margin:34px 0 0 405px;
	}
}