/* Базовые настройки CSS */

*{
	margin: 0;
	padding: 0;
	color:#333333;
	font-size:15px;
}

@font-face{
	font-family: RalewayRegular;
	src: url("fonts/RalewayRegular/RalewayRegular.ttf");
}

a, a:hover, a:focus, a:active{
	color:orange;
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	text-transform:uppercase;
	color:#2c3949;
}

h1{
	font:48px sans-serif;
	text-transform:none;
}

h2{
	font:30px sans-serif;
}

h3{
	font:24px sans-serif;
}



ul li{
	list-style-type:none;
	display:inline-block;
}

/* Шапка */

.main-head{
	min-height:620px;
	background-size:cover;
	background-position:center;
	position:relative;
}

.main-head:before{
	background-color:#394b5f;
	opacity:.85;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	content:'';
}

.top-line{
	min-height:160px;
	background-image:url(img/top_gradient.png);
}

.logo img{
	width:100px;
	position:absolute;
	top:45px;
	left:10%;
	opacity: .95;
}

.main-menu{
	font-size:14px;
	position:absolute;
	top:45px;
	left:30%;
}

.main-menu ul li{
	line-height:48px;
	padding:0 10px;
}

.main-menu ul li a{
	text-decoration:none;
	color:white;
}

.main-menu ul li.active a{
	color:orange;
	text-decoration:underline;
}

.main-menu ul li a:hover{
	color:orange;
	text-decoration:underline;
}

.phone{
	color:white;
	opacity: .9;
	font-size:20px;
	font-weight:bold;
	position:absolute;
	top:45px;
	left:80%;
	line-height:48px;
}

.smallMenu{
	position:absolute;
	left:45%;
	top:38px;
	display:none;
}

.smallMenu:hover{
	cursor:pointer;
}

.partSmallMenu{
	border:1px solid black;
	border-radius:10px;
	background:grey;
	width:80px;
	height:5px;
	margin:10px;
}

.openSmallMenu{
	text-align:center;
	margin:25px 0 0 -20px;
	display:none;
}

.openSmallMenu li{
	display:block;
	clear:both;
	margin:0 0 20px 0;
}

.openSmallMenu li a{
	color:white;
	text-decoration:none;
}

.openSmallMenu li.active a{
	color:orange;
	text-decoration:underline;
}

.openSmallMenu li a:hover{
	color:orange;
	text-decoration:underline;
}

/*Адаптивный стиль под планшеты*/
@media all and (max-width:768px){
	/* Шапка */
	.main-menu{
		display:none;
	}
	
	.smallMenu{
		display:block;
	}
}